*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
html {
    font-size: 62.5%;
  }
  
  body {
    font-family: Montserrat,Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    font-weight: normal;
    background-color: #f3f3f3;
  }
  img {
    display: block;
    max-width: 100%;
  }
li{
    list-style: none;
}
a{
    text-decoration: none;
}

#wrapper{
    background-color: rgb(255, 255, 255);
}

.header-top{
    width: 100%;
    height: 60px;
    background-color: #ffffff;
}
.container{
    max-width: 120rem;
    margin: 0 auto;
}
.header-admin{
    display: flex;
    height: 6rem;
}
.header-admin-left{
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    height: 6rem;
}


.header-admin-left img{
    width: 15px;
}

.header-admin-right{
    width: 50%;
    height: 6rem;
}
.header-admin-right ul{
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
}
.header-admin-right ul li{
    border-right: 0.3px solid #adadad;
    padding: 15px;
    
}
.header-admin-right ul li i{
    color: #111111;
}
.header-admin-right ul li i:hover{
    color: #f25862;
}

#cartQuanlity{
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: #252525;
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
    left: -2rem;
    top: -1rem;
}


/*--------------------- Menu ---------------------*/
.header-dow{
    background-color: #e5e5e5;
    height: 8rem;
}
.menu{
    display: flex;
    height: 8rem;
}
.logo-shop{
    width: 25rem;
    
}
.logo-shop img{
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.menu-list ul{
    display: flex;
    height: 8rem;
    align-items: center;
    justify-content: space-between;
}
.menu-list ul li{
    padding: 25px;
    display: block;
}

.menu-list ul li a{
    font-size: 16px;
    color: #444;
    font-weight: bold;
    display: block;
}
.menu-list ul li a:hover{
    color: #f25862;
}

ul.sup_menu{
    display: none;
    position: relative;

}


/*        checkOder       */
.addToCart{
    margin: 5rem 0;
}
.checkOder_title{
    font-size: 2.4rem;
    font-weight: 600;
    color: #333333;
    text-transform: uppercase;
}
.container_checkOder{
    width: 100%;
    /* height: 50rem; */
}
.checkOder_title>span{
    color: #f25862;
    font-size: 5rem;
    font-weight: bold;
}


.quanlityProduct{
    font-size: 1.8rem;
    color: #333333;
    font-weight: bold;
}
#totalPrice{
    font-size: 2rem;   
    color: #f25862;
    font-weight: bold;
}
.soluong{
    color: #f25862;
    font-size: 2rem;
    font-weight: bold;
}

/*      End  addToCart       */


/*     footer       */

.footer-navbar{
    margin-top: 50px;
    height: 330px;
    background: linear-gradient(90deg,#232222 50%,#1d1d1d 50%);
}
.list-navbar{
    display: flex;
    justify-content: space-between;
}

.item-footer{
    width: calc(25% - 20px);
}

.logo-shop-footer a{
    height: 105px;
}
.logo-shop-footer a img{
    height: 100%;
    background-color: #232222;
}
 

.address-contact h3{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #a8a8a8;
    border-top: 1px solid #a8a8a8;
    padding: 10px 0 0;
    margin: 20px 0 10px;
}

.address-contact p{
    margin-bottom: 15px;
    background: #383838;
    line-height: 34px;
    color: #a8a8a8;
    font-size: 13px;
}
.address-contact i{
    width: 25px;
    height: 25px;
    padding: 5px ;
    background-color: #6a6a6a;
    color: #f8f8f8;
    margin-right: 12px;
}


.item-footer>h3{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #a8a8a8;
    border-top: 1px solid #a8a8a8;
    padding: 10px 0 0;
    margin: 30px 0 40px;
}

.list-menu-footer ul a{
    color: #a8a8a8;
    display: inline-block;
    font-size: 13px;
    line-height: 40px;
    border-bottom: 1px solid #363636;
    width: 100%;
}

.footer-ifdesign{
    height: 75px;
    background-color: #111111;
    display: flex;
}

.container-ifdesign{
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-ifdesign p{
    color: #a8a8a8;
    font-size: 13px;
    text-transform: uppercase;
    padding-left: 15px;
}

/*  End  footer       */